
.header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 24px 64px;
    background: var(--inputs);
    border-bottom: 1px solid var(--badges);
    height: 72px;
}

.headerLink {
    color: white;
   
}

.headerLink:hover {
    color: #ddd;
}

.navigation {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

.navigationItem {
    display: flex;
    align-items: center;
}

.navigationLink {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
}

.active {
    color: var(--grey-green);
}

.navigationLink:hover {
    outline: none;
    transform: scale(1.2);
}