/* .hero {
  min-height: 100vh;
  background-image: url('/images/hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
  color: var(--white);
}

.content h1 {
  max-width: 600px;
  margin: 0 0 16px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: var(--white);
}

.content p {
  margin: 0 0 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: var(--white);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 60px;
  border-radius: 200px;
  background-color: var(--grey-green);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  transition: background-color 200ms ease;
}

.button:hover {
  background-color: var(--green-hover);
}

.catalog {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 64px;
} */

.main {
  flex: 1;
}

.section {
  background-color: var(--gray);
  padding-top: 267px;
  padding-bottom: 318px;
  background-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../public/images/hero.jpg");
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.67;
  color: var(--inputs);
  margin-bottom: 16px;
}

.description {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--inputs);
  margin-bottom: 56px;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  border-radius: 200px;
  padding: 16px 60px;
  width: 173px;
  height: 56px;
  background-color: var(--grey-green);
}

.link:hover,
.link:focus {
  background-color: var(--green-hover);
}
